@{
  Layout="shared/_Layout.cshtml";
}
<div class="jumbotron">
  <h1> You Created A New Contact! </h2>
</div>


<ul>
<li>@Model.GetName()</li>
<li>@Model.GetPhoneNumber()</>
<li>@Model.GetAddress()</li>
</ul>

<h3><a href="/">Home</a></h3>
