@{
  Layout="shared/_Layout.cshtml";
}
<div class="jumbotron">
  <h1>@Model.GetName()'s' Contact Info:</h1>
</div>
<ul>
<li>@Model.GetPhoneNumber()</>
<li>@Model.GetAddress()</li>
<ul>

<h2><a href="/">Home</a></h2>
